aiohttp==3.9.3
aiosignal==1.3.1
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
atlassian-python-api==3.41.11
attrs==23.2.0
Babel
beautifulsoup4==4.12.3
bleach
blinker
Bottleneck
Brotli
bs4==0.0.2
cached-property==1.5.2
cachetools==5.3.3
certifi
cffi
charset-normalizer
click
colorama
comm
commonmark==0.9.1
cryptography
dataclasses-json==0.6.4
debugpy
decorator
defusedxml
Deprecated==1.2.14
dictdiffer==0.9.0
distro
executing
faiss-cpu==1.8.0
fastjsonschema
frozenlist==1.4.1
gitdb
GitPython
google-ai-generativelanguage==0.4.0
google-api-core==2.18.0
google-auth==2.29.0
google-generativeai==0.4.1
googleapis-common-protos==1.63.0
greenlet==3.0.3
grpcio==1.62.1
grpcio-status==1.62.1
h11
httpcore
httpx
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jaraco.classes
jedi
Jinja2
jira
jmespath==1.0.1
json5
jsonpatch==1.33
jsonpointer==2.4
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keyring
langchain==0.1.14
langchain-community==0.0.34
langchain-core==0.1.45
langchain-google-genai==1.0.1
langchain-openai==0.1.3
langchain-text-splitters==0.0.1
langsmith==0.1.38
markdown-it-py
MarkupSafe
marshmallow==3.21.1
matplotlib-inline
mdurl
mistune
mkl-fft
mkl-random
mkl-service==2.4.0
more-itertools
multidict==6.0.5
mypy-extensions==1.0.0
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
notion==0.0.28
notion-client==2.2.1
notion-database==1.2.0
numexpr
numpy
oauthlib
openai==1.16.0
orjson==3.10.0
overrides
packaging
pandas
pandas-stubs
pandocfilters
parso
pillow
platformdirs
prometheus-client
prompt-toolkit
proto-plus==1.23.0
protobuf==4.25.3
psutil
pure-eval
pyarrow
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser
pydantic
pydantic_core
pydeck
PyGithub==2.3.0
Pygments
PyJWT
PyNaCl==1.5.0
PySocks
python-dateutil
python-dotenv
python-json-logger
python-slugify==8.0.4
pytz
pywin32==305.1
pywin32-ctypes
pywinpty
PyYAML
pyzmq
referencing
regex==2023.12.25
requests
requests-oauthlib==1.3.0
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa==4.9
Send2Trash
six
smmap
sniffio
soupsieve
SQLAlchemy==2.0.29
stack-data
streamlit
tenacity==8.2.3
terminado
text-unidecode==1.3
tiktoken==0.6.0
tinycss2
toml
toolz
tornado
tqdm
traitlets
types-pytz
typing-inspect==0.9.0
typing_extensions
tzdata
tzlocal==5.2
urllib3==1.26.18
watchdog
wcwidth
webencodings==0.5.1
websocket-client
widgetsnbextension
win-inet-pton
wrapt==1.16.0
yarl==1.9.4
zipp